* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

p {
    color: red;
    font-weight: bold;
}

header {
    padding: 15px 0;
}

header h1 {
    display: inline-block;
    min-width: 400px;
    color: #ddd;
    padding-bottom: 2px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    border-bottom: 1px solid #ddd;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#weather-form {
    display: flex;
}

#city-input {
    width: 400px;
}

::placeholder {
    color: black;
    font-size: 18px;
    opacity: 0.6;
}

#current-pos-button,
#search-button {
    margin-left: 10px;
}

.input-group{
    height: 40px;
    font-size: 20px;
    padding: 0 10px;
    background-color: rgba(61, 242, 255, 0.7);
    color: black;
    border: 1px solid #4e4e4e;
    border-radius: 10px;
    box-shadow: 0 0 2px black;
}

.fa-temperature-high {
    margin: 0 5px;
    font-size: 1.5rem;
}

.fa-cloud-meatball,
.fa-cloud-rain {
    font-size: 1.4625rem;
}

.search-history {
    margin: 25px;
}

.search-history h2 {
    font-size: 1.1rem;
}

.history-boxes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 25px;
}

.history-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 110px;
    width: 200px;
    background: rgba(230, 230, 230, 0.5); /* Ändra färg för visuell separation? */
    border: 1px solid #4e4e4e;
    border-radius: 10px;
    box-shadow: 0 0 2px black;
    padding: 5px 15px;
    gap: 0px;
}
.weather-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-weather{
    display: flex;
    flex-direction: row;
    width: 300px;
    border: 1px solid #4e4e4e;
    border-radius: 10px;
    box-shadow: 0 0 2px black;
    background: rgba(61, 242, 255, 0.7);
}
.current-icon-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.current-weather-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 5;
}

.history-temp-div {
    display: flex;
    align-items: center;
}

.forecast-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-list {
    width: 1000px;
}

.forecast-day {
    background: rgba(61, 242, 255, 0.7);
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #4e4e4e;
    box-shadow: 0 0 2px black;
    margin: 5px;
    padding: 5px;
    gap: 5px;
}

.date-section {
    text-align: start;
    border-right: 1px solid #4e4e4e;
    width: 10rem;
}

.temp-section {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 11rem;
}

.rain-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.rain-section h3 {
    width: 11rem;
    text-align: start;
}

.rain-section h4 {
    width: 11rem;
    text-align: start;
}

.wind-section {
    display: flex;
    align-items: center;
    gap: 10px;
}
.wind-section h4{
    width: 3.2rem;
    text-align: start;
}

.fa-wind {
    font-size: 1.4rem;
}

main {
    background: url('@/assets/sky-background.webp');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.svg-div{
    display: flex;
    width: 50px;
    height: 50px;
    background: url('@/assets/Compass2.png') no-repeat center center/cover;
    background-color: rgba(61, 242, 255, 0);
    align-items: center;
    justify-content: center;
}
